<!DOCTYPE html>
<!-- 需要添加
<html  xmlns:th="http://www.thymeleaf.org">
这样在后面的th标签就不会报错
 -->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${username}">xx</title>
</head>
<body>
<h1>填写参数，用于加密</h1>
<!-- 表单提交用户信息,注意字段的设置,直接是*{} -->
<form action="#" th:action="@{/ok/add}" th:object="${userInfo}" method="post">
    <div>
        <td>姓名:  </td>
        <td><input type="text" th:field="*{name}" /></td>
    </div>
    <div>
        <td>证件号:  </td>
        <td><input type="text" th:field="*{id}" /></td>
    </div>

    <input type="submit" />
</form>
</body>
</html>